In [1]:
import pandas as pd
import os
from functools import reduce

os.getcwd()

os.chdir("/home/bas/Documents/git/UU_PhD_BasMachielsen/Paper1")

os.listdir()

['.Rhistory', 'Reports', 'Data', 'Tables', 'Figures', 'Code']

In [10]:
parwealth = pd.read_excel("./Data/instrumental_variable_est.xlsx")

inflation = pd.read_excel("./Data/AnalysisFile.xlsx", sheet_name="InflationGDP")
inflation = inflation[['Year','Real GDP per capita']]

inflation

#for i in parwealth['wealth_father']: print(i)

     Year  Real GDP per capita
0    1850                 2355
1    1851                 2388
2    1852                 2361
3    1853                 2308
4    1854                 2449
..    ...                  ...
96   1946                 4457
97   1947                 5048
98   1948                 5490
99   1949                 5880
100  1950                 5996

[101 rows x 2 columns]

In [3]:
def correct_wealth(beginyr = 1850, voteyr = 1880):
    years = inflation.Year.isin(range(beginyr, voteyr+1))
    temp = inflation[years]
    
    gdprates = list()
    gdprates.append(1)
    
    for i in range(len(temp['Real GDP per capita'])-1):
        rate = (temp.iloc[i+1]['Real GDP per capita'] - temp.iloc[i]['Real GDP per capita'])/temp.iloc[i]['Real GDP per capita']
        rate = 1 + rate
        gdprates.append(rate)
        
    temp = temp.assign(gdprates = gdprates)
    return temp

In [4]:
def wealth_cor(beginyr, voteyr, wealth_instr = 1000):
    temp = correct_wealth(beginyr, voteyr)
    wealth_cor = reduce(lambda x, y: x*y, [wealth_instr] + list(temp['gdprates']))
    return wealth_cor

In [8]:
wealth_cor(1850, 1890, 100000)

135286.6242038216